<h2> Edit Recipe </h2>

<form action="/update_recipe/<%= @recipe.id %>">
 <input type="text" name="name" placeholder="name" value="<%= @recipe.name %>">
 <input type="text" name= "description"  placeholder="description" value="<%= @recipe.description %>" >
 <input type="text" name= "img"   placeholder="image"    value="<%= @recipe.img %>">
 <input type="text" name= "ingredients"   placeholder="ingredients"    value="<%= @recipe.ingredients %>">
 <input type="text" name= "instructions"   placeholder="instructions"    value="<%= @recipe.instructions %>">
  <input type="submit">
  
</form>